:root {
    --main-bg-color: #faf9f2;
    --font-logo: 'Nanum Pen Script', cursive;
    --font-title: 'Cormorant Garamond', serif;
    --font-para: 'Proza Libre', sans-serif;
    --card-bg: #404142;
    --blue-bg: #64b6ac;
}

.App {
    margin: 0;
    padding: 0;
    padding-top: 100px;
    height: auto;
    background-color: var(--main-bg-color);
}