:root {
    --main-bg-color: #faf9f2;
    --font-logo: 'Nanum Pen Script', cursive;
    --card-bg: #404142;
}

.App {
    margin: 0;
    padding: 0;
    padding-top: 100px;
    height: 100vh;
    background-color: var(--main-bg-color);
}