:root {
    --main-bg-color: #faf9f2;
    --font-logo: 'Nanum Pen Script', cursive;
    --font-title: 'Cormorant Garamond', serif;
    --font-para: 'Proza Libre', sans-serif;
    --card-bg: #202021;
    --blue-bg: #64b6ac;
}

h1 {
    font-family: var(--font-para);
}

h2 {
    font-family: var(--font-para);
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-add-task {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100vw;
    border-radius: 10px;
}

.form-container {
    width: 80vw;
    height: auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
    border: 2px solid;
}

.form-container input {
    height: 60px;
}

.form-container textarea {
    height: 100px;
}

.form-container button {
    border: none;
    border-radius: 50px;
    background-color: var(--blue-bg);
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}

.form-container label {
    font-family: var(--font-title);
    font-size: 1.5rem;
}

.btn-add-task {
    background-image: url('../img/plus.png');
    background-size: cover;
}

.border {
    height: 1rem;
    width: 100%;
    border-bottom: solid 3px black;
}

.btn-clear {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: transparent;
    border: none;
    background-image: url('../img/reset.png');
    background-size: cover;
    height: 40px;
    width: 40px;
}