:root {
    --main-bg-color: #faf9f2;
    --font-logo: 'Nanum Pen Script', cursive;
    --font-title: 'Cormorant Garamond', serif;
    --font-para: 'Proza Libre', sans-serif;
    --card-bg: #404142;
    --blue-bg: #64b6ac;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    background-color: var(--card-bg);
    border-radius: 10px;
    width: 80vw;
    height: auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

.form-container>button {
    border: none;
    border-radius: 50px;
    background-color: var(--blue-bg);
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}