:root {
    --main-bg-color: #faf9f2;
    --font-logo: 'Nanum Pen Script', cursive;
    --font-title: 'Cormorant Garamond', serif;
    --font-para: 'Proza Libre', sans-serif;
    --card-bg: #202021;
    --blue-bg: #64b6ac;
}

h1 {
    font-family: var(--font-para);
}

h2 {
    font-family: var(--font-para);
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-form {
    position: fixed;
    bottom: 100px;
    right: 27px;
    background-image: url("../img/plus2.png");
    background-size: cover;
    height: 60px;
    width: 60px;
    border: none;
    background-color: transparent;
}

.text-add-task {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100vw;
    border-radius: 10px;
}

.border {
    height: 1rem;
    width: 100%;
    border-bottom: solid 3px black;
}

.btn-clear {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: transparent;
    border: none;
    background-image: url('../img/reset.png');
    background-size: cover;
    height: 50px;
    width: 50px;
}