:root {
    --main-bg-color: #faf9f2;
    --font-logo: 'Nanum Pen Script', cursive;
    --font-title: 'Cormorant Garamond', serif;
    --font-para: 'Proza Libre', sans-serif;
    --card-bg: #202021;
    --blue-bg: #64b6ac;
}

.myendtask-container {
    display: flex;
    width: 80vw;
    margin-top: 3rem;
    gap: 0.5rem;
    flex-direction: column-reverse;
    justify-content: center;
}

.myendtask-container p {
    margin: 0;
    font-family: var(--font-title);
    font-size: large;
    background-color: #9d9d9d;
    font-weight: bold;
    padding: 0.5rem;
}

.img-check {
    height: 20px;
    width: 20px;
}