:root {
    --main-bg-color: #faf9f2;
    --font-logo: 'Nanum Pen Script', cursive;
    --font-title: 'Cormorant Garamond', serif;
    --font-para: 'Proza Libre', sans-serif;
    --card-bg: #202021;
    --blue-bg: #64b6ac;
    --pomodoro-bg: #b94b38;
}

.pomodoro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    border-radius: 100px;
    background: linear-gradient(#c77878, #b94b38);
    color: var(--main-bg-color);
    gap: 1rem;
}

.pomodoro-container a {
    border: #da9532 solid 1px;
    box-shadow: 5px 2px 5px #da9532;
}

.global-timer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 60vw;
}

.set-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn-more {
    height: 22px;
    width: 22px;
    border: none;
    background-color: transparent;
    background-image: url('../img/plus2.png');
    background-size: cover;
}

.btn-less {
    height: 20px;
    width: 20px;
    border: none;
    background-color: transparent;
    background-image: url('../img/moins.png');
    background-size: cover;
}

.launch-chrono {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 50px;
}

.btn-launch {
    border: none;
    background-color: transparent;
    background-size: cover;
    height: 40px;
    width: 40px;
}

.start {
    background-image: url('../img/start2.png');
}

.stop {
    background-image: url('../img/stop.png');
}

.btn-reset {
    border: none;
    background-image: url('../img/reset.png');
    background-color: transparent;
    background-size: cover;
    height: 20px;
    width: 20px;
}